<!DOCTYPE html>
<html>
<head>
    <title>Test template</title>
</head>
<body>
<h1>List of {{ template_name }}</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
{#        <th>Country</th>#}
    </tr>
{% for insurer in insurers %}
        <tr>
            <td>{{ insurer.id }}</td>
            <td>{{ insurer.name }}</td>
            <td>{{ insurer.address }}</td>
        </tr>
{% endfor %}
</table>
</body>
</html>